ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    color: black;
    background-color:rgb(153, 255, 0);
}
/* Stijl voor de menubalk */
.menubalk {
    background-color: #f0f0f0; /* Lichtgrijze achtergrondkleur */
    overflow: hidden;
}

/* Stijl voor de menu-items */
.menubalk a {
    float: left;
    display: block;
    color: #333; /* Tekstkleur */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Stijl voor de menu-items bij hover (wanneer de muis erover beweegt) */
.menubalk a:hover {
    background-color: #ddd; /* Achtergrondkleur bij hover */
}

/* Stijl voor de navigatiebalk */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Stijl voor de links in de navigatiebalk */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Stijl voor de dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Stijl voor de dropdown knop */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Stijl voor de dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Stijl voor de links in de dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Toon de dropdown content bij hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Verander de kleur van de links bij hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;